<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="cleartype" content="on">

<title>{% if title %}{{ title }} {% else %} {{ site.title }} {% endif %}</title>

<meta name="description" content="{{ description }}">

<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/assets/styles/main.css">