---
layout: blog-page.html
title: Cum sociis natoque penatibus et magnis dis parturient montes.
description: Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis.
page_class: blogpost
blogpost_date: 2018-03-16
---

{% extends "layouts/default-blogpost.html" %}

{% block blogpost_body %}
<h1>Cum sociis natoque penatibus et magnis dis parturient montes.</h1>
<p class="blog-date">
    {{ blogpost_date | dateFilter("MMMM D, YYYY") }}
</p>
<div class='blogpost-content'>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec sed odio dui. Sed posuere consectetur est at lobortis. Aenean eu leo quam.</p>
    
    <p>Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    
    <pre>
    <code class="language-javascript">// fade-in function
    function fadeIn(el, display) {
        el.style.opacity = 0;
        el.style.display = display || "block";
    
        (function fade() {
            let val = parseFloat(el.style.opacity);
            if (!((val += 0.1) &gt; 1)) {
                el.style.opacity = val;
                requestAnimationFrame(fade);
            }
        }());
    }</code></pre>
    
    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    
</div>
{% endblock %}

{% block blogpost_sidebar %}
<ul class="author-info">
    <li class="blog-author-avatar">
        <img src="http://dev-orca.pantheonsite.io/sites/default/files/blogpost-images/romy-schneider.jpg" alt="" />
    </li>
    <li class="blog-author">
        Betty Glorious
    </li>
    <li class="blog-author-position">
        Big City Girl
    </li>
    <li class="blog-author-affiliation">
        Dancing Society
    </li>
</ul>

{% endblock %}