$orca-red: #D43717;
$orca-violet: #4B4D80;
$orca-tan: #DEB77F;
$orca-green: #8C9544;
$orca-turquoise: #0582A1;

$default-text-color: #666;
$highlight-text-color: #999;

$default-text-shadow: 2px 0px 8px rgba(0, 0, 0, 0.8);
$default-border: 1px solid #ccc;