$blog-header-color: #fff;
$blog-testimonial-color: #fff;
$blog-list-background-color: #f8f8f8;

.blog-header {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    
    h1 {
        position: absolute;
        right: 0;
        bottom: 5px;
        margin: 0;
        color: $blog-header-color;
        font-size: 60px;
        text-align: right;
        line-height: 0.7;
    }
}
.blog-byline {
    padding: 40px 50px 0;

    p {
        font-size: 32px;
        color: $highlight-text-color;
        text-transform: uppercase;
        text-align: right;
        margin: 0;
    }
}
.blog-list {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 50px;
    background: $blog-list-background-color;

    li {
        display: inline-block;
        width: 30%;
        margin-left: 3%;
        vertical-align: top;

        &:first-child {
            margin: 0;
        } 

        @media (max-width: 500px) {
            display: block;
            width: auto;
            margin: 0;
        }
    }
}
.blog-list__item-header {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-size: 100%;
    background-position: center;
    transition: background-size 0.3s;

    p {
        position: absolute;
        top: 10%;
        left: -1%;
        font-size: 36px;
        line-height: 1;
        color: $blog-header-color;
        text-shadow: $default-text-shadow;

        @media (max-width: 1280px) {
            font-size: 3vw;
        }

        @media (max-width: 500px) {
            font-size: 7vw;
        }
    }

    &:hover {
        background-size: 110%;
        cursor: pointer;
    }
}