.has-columns {

    .main {
        width: 65%;
        float: left;
        padding-right: 30px;
    }
    .sidebar {
        width: 35%;
        margin-left: 65%;
        padding-left: 30px;
    }
}