.has-columns {

    .main {
        width: 65%;
        float: left;
        padding: 0 30px;
    }
    .sidebar {
        width: 35%;
        margin-left: 65%;
        padding: 0 30px;
    }

    @media (max-width: 767px) {
        .main,
        .sidebar {
            width: 100%;
            float: none;
            margin: 0;
            padding: 0 30px 30px;
        }
    }
}