$postamble-bg-color: #f8f8f8;

.section-row {
    width: 100%;
    min-height: 400px;
    display: flex;

    &.auto-height {
        min-height: 0;
    }
}
.section-row__left,
.section-row__right {
    flex-basis: 50%;
}

@media (max-width: 700px) {
    .section-row {
        display: block;
    }

    .section-row__left,
    .section-row__right {
        width: 100%;
    }
}

.section-postamble {
    display: block;
    width: 100%;
    color: $default-text-color;
    background-color: $postamble-bg-color;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    margin: 0;
    padding: 40px 0;

    &.no-top {
        padding-top: 0;
    }
}