$services-header-color: #fff;
$services-testimonial-color: #fff;
$services-height: 400px;
$services-list-background-color: #f8f8f8;

.services-header {
    position: relative;
    min-height: $about-height;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    
    h1 {
        position: absolute;
        right: 0;
        bottom: 5px;
        margin: 0;
        color: $about-header-color;
        font-size: 60px;
        text-align: right;
        line-height: 0.7;
    }
}
.services-byline {
    padding: 40px 50px 0;

    p {
        font-size: 32px;
        color: $highlight-text-color;
        text-transform: uppercase;
        text-align: right;
        margin: 0;
    }
}
.services-list {
    list-style: none;
    margin: 0;
    padding: 50px;
    background: $services-list-background-color;

    @media (max-width: 800px) {
        padding: 20px;
    }

    li {
        float: left;
        width: 30%;
        margin-left: 5%;
        vertical-align: top;

        &:first-child {
            margin: 0;
        } 

        @media (max-width: 500px) {
            display: block;
            width: auto;
            margin: 0;
        }
    }
}
.services-list__item-header {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;

    p {
        position: absolute;
        top: 40%;
        left: -1%;
        font-size: 3vw;
        color: $services-header-color;

        @media (max-width: 500px) {
            font-size: 8vw;
        }
    }
}