$icomoon-font-path: "fonts" !default;

$icon-edit: \e90a;
$icon-facebook: \e904;
$icon-github: \e905;
$icon-google-plus: \e906;
$icon-linkedin: \e907;
$icon-twitter: \e908;
$icon-youtube: \e909;
$icon-home: \e903;
$icon-email: \e900;
$icon-location: \e901;
$icon-phone: \e902;

